/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background: url('../images/background.png') no-repeat center center / cover;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #1e3a5f;
    background: url('../images/wall.jpg') no-repeat center center / cover;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* View Entries Page Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.8rem;
    text-align: left;
}

th {
    background-color: #4CAF50; /* Darker green for the header */
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
button {
    background-color: #f44336; /* Red button for delete */
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

a {
    color: #2196F3; /* Blue for links */
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}
