<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enhanced Social Engineering Attack Cycle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <style>
        /* body {
            background: url("{{ url_for('static', filename='images/background.png') }}") ;
            background-size: cover;
        } */
    </style>

    <header>
        <h1>Enhanced Social Engineering Attack Cycle</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('gather_info') }}">Information Gathering</a></li>
            <li><a href="{{ url_for('develop_relationships') }}">Developing Relationships</a></li>
            <li><a href="{{ url_for('exploit_relationships') }}">Exploiting Relationships</a></li>
            <li><a href="{{ url_for('execute_attack') }}">Execution of the Attack</a></li>
            <li><a href="{{ url_for('achieve_objective') }}">Achieving the Objective</a></li>
            <li><a href="{{ url_for('retreat') }}">Retreat</a></li>
            <li><a href="{{ url_for('view_entries') }}">View Previous Entries</a></li>
        </ul>
    </nav>
    <div class="bg-image"></div>
    <main>
        <section>
            {% if notify}
            <h2>notify</h2>
            {%endif%}
            <p>This application demonstrates an enhanced framework for Kevin Mitnick's Social Engineering Attack Cycle. Use the links above to navigate through each phase of the attack cycle.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Enhanced SE Attack Cycle</p>
    </footer>
</body>
</html>
